fastapi
uvicorn[standard]
python-multipart
pydantic
pdf2image
layoutparser
transformers
torch
opencv-python
pillow
camelot-py[cv]
easyocr
presidio-analyzer
presidio-anonymizer
python-dotenv
rq
redis
PyPDF2
reportlab
pdfminer.six
